<div class="row">
  <div class="col-6 " (click)="plus('black')" style="background-color:black">
    <a class="minus float-right" (click)="minus($event, 'black')" >-</a>
      <p>{{this.climbs.black}}</p>
  </div>
  <div class="col-6 " (click)="plus('tiger')" style="background-color:orange">
    <a class="minus float-right" (click)="minus($event, 'tiger')" >-</a>
      <p>{{this.climbs.tiger}}</p>
  </div>
  <div class="col-6 " (click)="plus('blue')" style="background-color:blue">
    <a class="minus float-right" (click)="minus($event, 'blue')" >-</a>
      <p>{{this.climbs.blue}}</p>
  </div>
  <div class="col-6 " (click)="plus('yellow')" style="background-color:yellow">
    <a class="minus float-right" (click)="minus($event, 'yellow')" >-</a>
      <p>{{this.climbs.yellow}}</p>
  </div>
  <div class="col-6 " (click)="plus('purple')" style="background-color:purple">
    <a class="minus float-right" (click)="minus($event, 'purple')" >-</a>
      <p>{{this.climbs.purple}}</p>
  </div>
  <div class="col-6 " (click)="plus('hendrix')"  style="background-color:pink">
    <a class="minus float-right" (click)="minus($event, 'hendrix')">-</a>
      <p>{{this.climbs.hendrix}}</p>
  </div>
</div>

